<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <log4net>
        <root>
            <level>DEBUG</level>
            <appender ref="console" />
            <appender ref="tracelog" />
        </root>
        <loggers />
        <appenders>
            <appender name="console"  type="console"/>
            <appender name="tracelog" type="file">
                <filename>var/log/service.log</filename>
            </appender>
        </appenders>
    </log4net>

    <sendmail>
        <smtp>
            <address>smtp.yandex.ru</address>
            <port>465</port>
            <ssl>true</ssl>
            <username>ezyuzin</username>
            <password>12345</password>
        </smtp>
    </sendmail>

    <safevault>
        <datapath>data/server</datapath>
        <userdata>data/client</userdata>
        <certificate>data/server/prod-safevault.pem</certificate>
        <reverseproxy>
            <address>192.168.0.235</address>
            <address>127.0.0.1</address>
        </reverseproxy>
		<bindings>
			<address>http://*:5000</address>
		</bindings>
    </safevault>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath="dotnet" arguments=".\SafeVault.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
</configuration>